@charset "UTF-8";
/*==========================================================
# mixins
==========================================================*/
/*==========================================================
# colors
==========================================================*/
/*==========================================================
# common - 全体に共通するスタイル
==========================================================*/
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

/*==========================================================
# 共通クラス
==========================================================*/
body {
  font-family: "Lato", serif;
}

.container-fluid {
  max-width: 1280px;
  text-align: center;
}

.util-title {
  position: relative;
  display: inline-block;
  padding-bottom: .3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .util-title {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .util-title {
    text-align: center;
    font-size: 70px;
    letter-spacing: .3em;
    margin-bottom: 120px;
  }
}

.util-title:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .util-title:before {
    width: 40px;
    height: 3px;
    bottom: -5px;
  }
}

@media (min-width: 768px) {
  .util-title:before {
    width: 80px;
    height: 5px;
    bottom: -15px;
  }
}

.util-title:hover {
  color: #3EA1D1;
}

.util-item {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .section {
    margin-bottom: 80px;
  }
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 160px;
  }
}

/*==========================================================
# nav
==========================================================*/
.nav-logo {
  width: 300px;
  height: auto;
}

.nav-item {
  margin-right: 24px;
}

.nav-link {
  font-size: 24px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.nav-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #3EA1D1;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-link:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/*==========================================================
# top
==========================================================*/
@media (max-width: 767px) {
  .top-img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .top-img {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .top-text {
    font-size: 60px;
  }
}

@media (min-width: 768px) {
  .top-text {
    font-size: 84px;
    margin-top: 140px;
  }
}

.top-circle {
  background: skyblue;
  border-radius: 50%;
  animation: bg-color 10s infinite;
  -webkit-animation: bg-color 10s infinite;
}

@-webkit-keyframes bg-color {
  0% {
    background-color: #e74c3c;
  }
  20% {
    background-color: #f1c40f;
  }
  40% {
    background-color: #1abc9c;
  }
  60% {
    background-color: #3498db;
  }
  80% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #e74c3c;
  }
}

@keyframes bg-color {
  0% {
    background-color: #e74c3c;
  }
  20% {
    background-color: #f1c40f;
  }
  40% {
    background-color: #1abc9c;
  }
  60% {
    background-color: #3498db;
  }
  80% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #e74c3c;
  }
}

/*==========================================================
# about
==========================================================*/
@media (min-width: 768px) {
  .introduce-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .introduce-img {
    width: 48%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .introduce-img {
    width: 400px;
    height: auto;
    margin-left: 150px;
  }
}

.introduce02 {
  text-align: left;
  margin: 40px 0 0 100px;
}

@media (max-width: 767px) {
  .introduce02 {
    margin: 60px 0 0 35px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .introduce-text {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .introduce-text {
    font-size: 24px;
    font-family: "Loto";
  }
}

/*==========================================================
# works
==========================================================*/
@media (min-width: 768px) {
  .works-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 140px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .works-item {
    margin-bottom: 60px;
    width: 46%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .works-item:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.works-img {
  border-radius: 20px;
}

@media (max-width: 767px) {
  .works-img {
    width: 250px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .works-img {
    width: 100%;
    height: auto;
  }
}

.works-text {
  text-align: center;
  color: #333;
}

@media (max-width: 767px) {
  .works-text {
    margin: 10px 0 40px;
  }
}

@media (min-width: 768px) {
  .works-text {
    font-size: 32px;
    margin-top: 10px;
  }
  .works-text:hover {
    color: #3EA1D1;
  }
}

/*==========================================================
# performance
==========================================================*/
@media (max-width: 767px) {
  .performance {
    padding: 0;
  }
}

.performance-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .performance-item {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .performance-item {
    width: 30%;
  }
}

.hobby-img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hobby-img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

@media (max-width: 767px) {
  .hobby-img {
    width: 80%;
    height: auto;
  }
}

/*==========================================================
# access
==========================================================*/
@media (max-width: 767px) {
  iframe {
    width: 300px;
    height: 250px;
  }
}

@media (min-width: 768px) {
  iframe {
    width: 1000px;
    height: 667px;
  }
}

/*==========================================================
# contact
==========================================================*/
.align-center {
  text-align: center;
}

.contact {
  max-width: 800px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact {
    margin: 0 auto 80px;
  }
}

@media (min-width: 768px) {
  .contact {
    margin: 0 auto 160px;
  }
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 70px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: "Loto";
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: "Loto";
  font-size: 20px;
  line-height: 100px;
  font-weight: 400;
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
}

.form-field {
  margin-top: 100px;
}

@media (max-width: 767px) {
  .form-field {
    margin: 60px;
  }
}

.form-footer {
  text-align: center;
}

@media (min-width: 768px) {
  .form-footer {
    margin-top: 60px;
  }
}

button {
  outline: none;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #3EA1D1;
  color: #3EA1D1;
  letter-spacing: 1px;
  text-shadow: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media (max-width: 767px) {
  button {
    height: 75px;
    width: 150px;
  }
}

@media (min-width: 768px) {
  button {
    height: 100px;
    width: 200px;
    font-size: 36px;
    font-weight: bold;
  }
}

button:hover {
  color: white;
  background: #3EA1D1;
}

button:active {
  letter-spacing: 2px;
}

button:after {
  content: "SUBMIT";
}

.onclic {
  width: 40px;
  border-color: #f8f9fa;
  border-width: 3px;
  font-size: 0;
  border-left-color: #3EA1D1;
  -webkit-animation: rotating 2s 0.25s linear infinite;
          animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: #3EA1D1;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #3EA1D1;
}

.validate:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}

#page-top a {
  background: #3EA1D1;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

/*==========================================================
# footer
==========================================================*/
.footer {
  padding: 40px 0 20px 0;
}

.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
}

@media (max-width: 767px) {
  .footer-sns {
    margin: 0 60px;
  }
}

@media (min-width: 768px) {
  .footer-sns {
    margin: 0 200px;
  }
}

.text-right {
  font-size: 12px;
}

@media (max-width: 767px) {
  .text-right {
    padding: 20px 60px 10px 0;
  }
}

@media (min-width: 768px) {
  .text-right {
    padding: 20px 200px 20px 0;
  }
}
